﻿@model Kiosk.StackOverFlowTask.Models.QuestionVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> model.Link)
        </dt>

        <dd>
            <a href="@Model.Link">@Model.Link</a>Documents\Source\Repos
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creation_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creation_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Activity_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Activity_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

    </dl>
</div>
<p>   
    @Html.ActionLink("Back to List", "Index")
</p>
