﻿@using PagedList;
@using PagedList.Mvc;
@using Kiosk.StackOverFlowTask.Models
@model PagedList.IPagedList<QuestionVM>

<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Questions List</h2>

<form>
    <table class="table">
        <tr>
            <th>
                @Kiosk.StackOverFlowTask.Strings.Title
            </th>
            <th>
                @Kiosk.StackOverFlowTask.Strings.Score
            </th>
            <th>
                @Kiosk.StackOverFlowTask.Strings.Creation_Date
            </th>
            <th>
                @Kiosk.StackOverFlowTask.Strings.Last_Activity_Date
            </th>
            <th>

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Creation_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Activity_Date)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Question_Id }, new { target = "_blank" })
                </td>
            </tr>
        }

    </table>

    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>        
    </div>
    <input type="submit" class="btn btn-primary" value="Refresh" />
</form>